.Block{
    height: 1000px;
    width: 1000px;
    background-image: url(https://media.istockphoto.com/vectors/summer-party-invitation-template-with-palm-leaves-and-exotic-plants-vector-id1253273093?s=612x612)no-repeat center center/cover;
}
.Block:hover{
    background-image: url(https://media.istockphoto.com/vectors/royal-blue-rose-white-hydrangea-dahlia-eucalyptus-juniper-vector-vector-id1251175625?s=612x612)no-repeat center center/cover;
    background-image: url();
}
